# OpenText Playwright Environment Setup

BASE_URL=https://www.opentext.com
TEST_ENV=production
DEFAULT_TIMEOUT=30000
NAVIGATION_TIMEOUT=90000

# BrowserStack Credentials
BROWSERSTACK_USERNAME=YOUR_USERNAME_HERE
BROWSERSTACK_ACCESS_KEY=YOUR_ACCESS_KEY_HERE
